.box-bg-top {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/invesment/banner.png);
}
/* .boxCollapse {
  padding: 81px 100px;
} */
.venture {
  background-color: #d9d9d9;
}
.private {
  background-color: #f2f2f2;
}
.boxCollapse .headingCollapse {
  color: #000;
  font-size: 60px;
  font-weight: 500;
  line-height: 83.5%;
  text-transform: uppercase;
  padding: 80px 100px;
}
.boxCollapse .headingCollapse:not(.collapsed) {
  font-weight: 700;
  background-color: unset;
  box-shadow: unset;
}
.accordion-button {
  background-color: unset;
}
.accordion-button::after {
  background-size: 5.25rem;
  width: 5.25rem;
  height: 5.25rem;
}
.boxCollapse .boxContent {
  padding: 0px 100px 180px 100px;
}
.boxCollapse .boxContent .img {
  height: 500px;
}
.boxCollapse .boxContent .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.boxCollapse .boxContent .content {
  margin: 100px 0px 0px 0px;
}
.boxCollapse .boxContent .content .boxLeft .item {
  padding: 27px 0px;
  border-top: 1px solid #000;
}
.boxCollapse .boxContent .content .boxLeft .item .title {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: 83.5%;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.boxCollapse .boxContent .content .boxLeft .item .description {
  font-size: 15px;
  font-family: Inter;
  font-weight: 300;
  line-height: 140%;
}
.boxCollapse .boxContent .content .boxRight .para {
  overflow: hidden;
  color: var(--primary, #000);
  text-overflow: ellipsis;
  font-size: 15px;
  font-family: Inter;
  font-weight: 300;
  line-height: 140%;
}
.boxCollapse .boxContent .content .boxLeft .item:last-child {
  border-bottom: 1px solid #000;
}
/* Mobile devices (up to 767px) */
@media (max-width: 767px) {
  .boxCollapse .headingCollapse {
    padding: 40px 30px;
    font-size: 30px;
  }
  .accordion-button::after {
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .boxCollapse .boxContent {
    padding: 0px 30px 40px 30px;
  }
  .boxCollapse .boxContent .content {
    margin: 30px 0 0 0;
  }
  .boxCollapse .boxContent .img {
    height: 300px;
  }
  .boxCollapse .boxContent .content .boxRight {
    margin-top: 30px;
  }
  .boxCollapse .boxContent .content .boxLeft .item .title {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
  }
}

/* Tablet devices (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .boxCollapse .headingCollapse {
    padding: 40px 30px;
    font-size: 30px;
  }
  .accordion-button::after {
    background-size: 2rem;
    width: 2rem;
    height: 2rem;
  }
  .boxCollapse .boxContent {
    padding: 0px 30px 40px 30px;
  }
  .boxCollapse .boxContent .content {
    margin: 30px 0 0 0;
  }
  .boxCollapse .boxContent .img {
    height: 300px;
  }
  .boxCollapse .boxContent .content .boxRight {
    margin-top: 30px;
  }
  .boxCollapse .boxContent .content .boxLeft .item .title {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
  }
}

/* Large devices (1024px and above) */
@media (min-width: 1024px) and (max-width: 1600px) {
}
